@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* navbar css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 9px 10px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #ffe59a;
}

#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #ffe59a;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home page css */
.linkedinlink {
  color: #f19a6b;
  text-decoration: underline;
}

.homepage {
  background-color: #1b2430;
  min-height: 100vh;
  width: 100%;
}

.text1 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 0 0 50px 0;
  font-weight: bold;
}

.text4 {
  color: #c5c5c5;
  text-align: center;
  margin: 0;
  padding: 50px 0 0 0;
}

@keyframes colorChange {
  0% {
    color: #04ff0d;
  }
  25% {
    color: #ffe59a;
  }
  50% {
    color: #ffc965;
  }
  75% {
    color: #ff6df5;
  }
  100% {
    color: #9bff82;
  }
}

.tuoj {
  animation: colorChange 3s infinite;
  font-weight: bold;
}

.bookingmeme {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 0;
  box-shadow: 0 5px 200px #ffe59a;
  border-radius: 20px 20px 20px 20px;
}

.redirectbut {
  display: block;
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  font-weight: 1000;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  background-color: #ffe59a;
}